.sidebar-toggle {
    margin-left: auto;

    i {
        font-size: 52px;
        cursor: pointer;
    }
}

#sidebar {
    z-index: 999999 !important;
    background: #FFF;

    .sidebar-wrapper {
        position: relative;
        height: 100%;
        overflow: auto;

        ul {
            list-style: none;
            padding: 30px;

            li {
                font-size: 1.5rem;
                margin-bottom: 20px;
            }
        }
    }
}

