.comment-list {
    padding-left: 0;
    list-style: none;
}

.comment-list ol {
    list-style: none;
}

.comment-form p {
    margin-bottom: 1rem;
    padding: 10px 0;
}

.comment-form input[type="text"],
.comment-form input[type="email"],
.comment-form input[type="url"],
.comment-form textarea {
    @include form-control;
}

.comment-form textarea {
    height: auto;
}

.comment-form input[type="submit"] {
    @include btn;
}
