main {
    flex: 1 0 auto;

    .feature-image {
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        //@media (max-width: 576px) {
        @include media-breakpoint-down(xs) {

            height: 250px;
            margin-bottom: 30px;
        }
    }

    .more-info {
        margin: 10px 0;
        cursor: pointer;
        display: flex;
        align-items: center;

        //.info-left {
        //
        //}

        .info-right {
            margin-left: auto;
            display: flex;
        }

        i {
            float: left;
        }

        .less {
            display: none;
        }

        &.active {
            .more {
                display: none;
            }

            .less {
                display: inline;
            }
        }
    }

    .pagination {
        margin: 30px 0;

        .prev, .next {
            border: none !important;

            i {
                font-size: 28px;
                line-height: 32px;
            }
        }

        span, .page-numbers {
            width: 32px;
            height: 32px;
            line-height: 32px;
            text-align: center;
            border: 2px solid #000;
            margin-right: 15px;

            &.current, &:hover {
                background-color: #DBDBDB;
            }
        }

        a {
            color: #000;
        }
    }

    .continue-reading {
        i {
            font-size: 28px;
        }
        i, span {
            line-height: 32px;
            float: left;
        }
    }

    article {

        &.article-overview {
            //margin: 60px 0;
            margin-top: 60px;

            .article-row {
                padding-bottom: 60px;
            }

            .post-info {
                display: none;
                //height: 0;
                //visibility: hidden;
                //opacity: 0;
                //transition: all 0.2s ease;

                &.active {
                    display: block;
                    //height: auto;
                    //visibility: visible;
                    //opacity: 1;
                }
            }

            &:last-of-type {
                hr {
                    display: none;
                }
            }
        }

        p {
            color: #3E3E3E;
        }

        .tag-column {
            margin-bottom: 20px;

            .tag {
                border: 2px solid #000;
                padding: 2px 5px;
                margin-right: 10px;
            }
        }

        .full-column {

            @include media-breakpoint-up(md) {
                h2 {
                    width: 70%;
                }
            }
        }
    }
}

.search-form-wrapper {
    input.search-submit {
        margin-left: 20px;
    }
}
