footer {
    margin-bottom: 40px;

    .container {
        display: flex;

        ul.footer-nav {

            margin-left: auto;
            padding: 0;
            list-style: none;

            li {
                float: left;
                margin-left: 40px;
            }
        }
    }
}
