.wp-block-embed-youtube {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.wp-block-image {
    margin-bottom: 50px;

    &.is-resized {
        width: 100%;

        img {
            width: 100%;
            height: auto;
        }
    }
}

.wp-block-columns {
    margin: 0 -15px;

    .wp-block-column {
        padding: 0 15px;
        margin: 0 !important;
    }
}

figcaption {
    text-align: left !important;

    @include media-breakpoint-up(lg) {
        max-width: 70%;
    }
}

.post {
    h2 {
        margin-bottom: 20px;

        @include media-breakpoint-up(lg) {
            width: 70%;
        }
    }


    .post-info {
        font-size: 22px;
        line-height: 32px;
        font-weight: 300;
        margin-bottom: 20px;

        .tag {
            font-size: 16px;
        }
    }
}

.share-container {
    display: flex;
    padding: 20px 0;

    ul {
        padding: 0;
        margin: 0;
        list-style: none;

        li {
            float: left;
            margin-left: 15px;
        }
    }

    .go-to-article {
        margin-left: auto;
    }
}

.article-detail {
    margin-top: 70px;
}

.go-to-article-bottom-link {
    margin-top: 10px;
    float: left;

    i {
        font-size: 28px;
    }

    span {
        font-size: 20px;
    }

    i, span {
        line-height: 32px;
        float: left;
    }
}
